body {
	container: body / inline-size;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Merienda One';
	line-height: normal;
	letter-spacing: 0px;
	background-color: #c89fa3;
	overflow: auto;
}

.canh-hoa-hong {
	flex-shrink: 0;
}

.no-hoa-hong-do {
	margin-top: 1px;
	flex-shrink: 0;
}

.col-top {
	position: relative;
	color: #f2e6d8;
	--min-font-size: 73; --max-font-size: 120; font-size: var(--interpolate);
	font-family: 'Niconne';
	background-color: #dbb3b7;
	padding-top: 429px;
	padding-bottom: 389px;
}

.canh-hoa-hong1 {
	position: absolute; top: 799px; right: 103px; 
	transform-origin: 50% 50%;
	width: 104px;
}

.canh-hoa-hong2 {
	position: absolute; top: 794px; right: 1639px; 
	transform-origin: 50% 50%;
	width: 81px;
}

.canh-hoa-hong3 {
	position: absolute; top: 362px; left: 183px; 
	transform-origin: 50% 50%;
	width: 108px;
}

.canh-hoa-hong4 {
	position: absolute; top: 332px; right: 161px; 
	transform-origin: 50% 50%;
	width: 108px;
}

.subtitle-i-shall-forget {
	margin-left: -362px;
	width: 100%;
	max-width: 832px;
	min-height: 124px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	text-align: left;
}

.subtitle-presently {
	width: 100%;
	max-width: 1249px;
	min-height: 124px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-shrink: 0;
	text-align: right;
}

.subtitle-bottom {
	margin-left: 624px; margin-top: 54px;
	width: 100%;
	max-width: 600px;
	min-height: 84px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	color: #76284e;
	--min-font-size: 22; --max-font-size: 48; font-size: var(--interpolate);
	font-family: 'Racing Sans One';
	text-align: center;
}

.row1 {
	position: relative;
	margin-top: -13px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 37px;
	padding: 289px 24px 274px 24px;
}



/* chuyen-dong-gio-cua-canh */

.chuyen-dong-gio-cua-canh {
	position: relative; z-index: 2;
	margin-left: -4px;
	width: 418px; height: 641px;
	flex-shrink: 0;
}

.chuyen-dong-gio-cua-canh-graphic1 {
	position: absolute; top: 403px; left: 108px; 
	width: 120px; height: 92px;
}

.chuyen-dong-gio-cua-canh-graphic2 {
	position: absolute; top: 347px; left: 212px; 
	width: 96px; height: 112px;
}

.chuyen-dong-gio-cua-canh-graphic3 {
	position: absolute; top: 116px; left: 84px; 
	width: 140px; height: 525px;
}

.chuyen-dong-gio-cua-canh-graphic4 {
	position: absolute; top: 160px; left: 206px; 
	width: 94px; height: 481px;
}

.chuyen-dong-gio-cua-canh-hoa-hong1 {
	position: absolute; top: 47px; left: -6px; 
	transform-origin: 50% 50%;
	width: 207px;
}

.chuyen-dong-gio-cua-canh-hoa-hong2 {
	position: absolute; top: 76px; left: 225px; 
	transform-origin: 50% 50%;
	width: 180px;
}
/* end chuyen-dong-gio-cua-canh*/


.rect {
	position: absolute; top: 0; left: 0; right: 0; 
	height: 1204px;
	background-color: #d29298;
}

.canh-hoa-hong5 {
	position: absolute; z-index: 3; top: 694px; left: 50%; 
	translate: -50% 0;
	transform-origin: 50% 50%;
	margin-left: 7px;
	width: 108px;
}

.canh-hoa-hong6 {
	position: absolute; z-index: 4; top: 730px; left: 50%; 
	translate: -50% 0;
	transform-origin: 50% 50%;
	margin-left: 149px;
	width: 104px;
}

.canh-hoa-hong7 {
	position: absolute; z-index: 5; top: 717px; left: 50%; 
	translate: -50% 0;
	transform-origin: 50% 50%;
	margin-left: 284px;
	width: 103px;
}

.graphic1 {
	position: absolute; z-index: 6; top: 0; left: 0; right: 0; 
	filter: blur(9.7px);
	margin: 0 auto;
	height: 379px;
	max-width: 1922px;
}

.no1 {
	position: absolute; z-index: 7; top: 247px; left: 50%; 
	translate: -50% 0;
	margin-left: -1px;
	width: 273px;
}

.graphic2 {
	position: absolute; z-index: 8; top: 842px; left: 0; right: 0; 
	filter: blur(9.7px);
	margin: 0 auto;
	height: 379px;
	max-width: 1922px;
}

.no2 {
	position: absolute; z-index: 9; top: 830px; left: 50%; 
	translate: -50% 0;
	margin-left: -1px;
	width: 273px;
}

.col6 {
	container: col6 / inline-size;
	position: relative; z-index: 1;
	margin-top: 158px;
	width: 1166px;
	display: flex;
	flex-direction: column;
	gap: 105px;
	flex-shrink: 0;
}



/* hien-bai-tho-tiep-theo */

.hien-bai-tho-tiep-theo {
	position: relative;
	height: 178px;
	flex-shrink: 0;
}

.hien-bai-tho-tiep-theo-mask-group {
	position: absolute; top: 0; left: 0; right: 0; 
	width: 100%;
}
/* end hien-bai-tho-tiep-theo*/


.row-bottom1 {
	margin-right: 104px;
	display: flex;
	align-items: flex-start;
	gap: 39px;
	align-self: end;
}

.canh-hoa-hong8 {
	margin-left: -2px; margin-top: 4px;
	width: 88px;
}

.canh-hoa-hong9 {
	margin-left: 7px; margin-bottom: -1px;
	width: 63px;
}

.canh-hoa-hong10 {
	margin-right: -2px; margin-top: 4px;
	width: 81px;
}

.group {
	position: relative; z-index: 10;
	margin-left: -5px; margin-top: 1px;
	width: 100%; height: 1204px;
	max-width: 1917px;
	flex-shrink: 0;
	align-self: center;
	background-color: #ecbabf;
}

.mask-group {
	position: absolute; top: 40px; left: 432px; 
	width: calc(100% - 432px);
	max-width: 1113px;
}

.graphic3 {
	position: absolute; top: 815px; left: 0; 
	filter: blur(9.7px);
	width: calc(100% - 0px); height: 349px;
	max-width: 1922px;
}

.no3 {
	position: absolute; top: 1033px; left: 823px; 
	width: 273px;
}

.nua-trai-tim-ben1 {
	position: absolute; top: 510px; left: 355px; 
	width: 216px;
}

.nua-trai-tim-ben2 {
	position: absolute; top: 510px; left: 1476px; 
	width: 220px;
}

.col7 {
	container: col7 / inline-size;
	position: relative; z-index: 11;
	margin-top: -1px;
	gap: 449px;
	background-color: #d38fb0;
	padding-top: 47px;
	padding-bottom: 9px;
}

.hoa-hong-vang {
	position: absolute; top: 466px; right: 145px; 
	width: 256px;
}

.hoa-hong-do {
	position: absolute; top: 438px; left: 133px; 
	width: 258px;
}

.row-top1 {
	display: flex;
	align-items: flex-start;
	gap: 43px;
}

.canh-hoa-hong11 {
	margin: -2px 0 -3px -4px;
	width: 151px;
}

.canh-hoa-hong12 {
	margin-left: 34px; margin-top: 16px;
	width: 172px;
}

.canh-hoa-hong13 {
	margin-left: 12px; margin-top: 2px;
	width: 201px;
}

.canh-hoa-hong14 {
	margin-top: 11px;
	width: 186px;
}

.canh-hoa-hong15 {
	margin-left: 12px; margin-top: 19px;
	width: 147px;
}

.canh-hoa-hong16 {
	margin-right: -2px; margin-top: 2px;
	width: 190px;
}

.buc-thu {
	position: relative;
	margin-left: -1px;
	width: 100%; height: 605px;
	max-width: 867px;
	flex-shrink: 0;
	background: linear-gradient(180deg, #ffc3ea 0%, #fd83ba 100%) top left / auto auto no-repeat;
}

.buc-thu-graphic1 {
	position: absolute; top: 0; left: 0; 
	width: calc(100% - 0px); height: 318px;
	max-width: 867px;
}

.buc-thu-graphic2 {
	position: absolute; top: 0; left: 0; 
	width: calc(100% - 0px); height: 318px;
	max-width: 867px;
}

.buc-thu-trai-tim {
	position: absolute; top: 257px; left: 358px; 
	width: 150px;
}

.col8 {
	container: col8 / inline-size;
	position: relative; z-index: 12;
	display: flex;
	flex-direction: column;
	gap: 47px;
	font-size: 48px;
	background-color: #ab7b9a;
	padding: 397px 183px;
}

.no-hoa-hong-do1 {
	position: absolute; top: 587px; right: 178px; 
	width: 200px;
}

.graphic4 {
	position: absolute; top: 836px; left: 0; right: 2px; 
	filter: blur(9.7px);
	margin: 0 auto;
	height: 379px;
	max-width: 1920px;
}

.no4 {
	position: absolute; top: 810px; left: 811px; 
	width: 273px;
}

.graphic5 {
	position: absolute; top: 836px; left: 0; right: 2px; 
	filter: blur(9.7px);
	margin: 0 auto;
	height: 379px;
	max-width: 1920px;
}

.no5 {
	position: absolute; top: 810px; left: 811px; 
	width: 273px;
}

.row-top2 {
	display: flex;
	align-items: flex-start;
	gap: 103px;
	align-self: center;
}



/* keo-tu-ngu-1-len */

.keo-tu-ngu-1-len {
	position: relative;
	margin-top: 16px;
	width: 581px;
	min-height: 148px;
	flex-shrink: 0;
	text-align: left;
}

.keo-tu-ngu-1-len-subtitle-if-you-me-with {
	position: absolute; top: 0; left: 0; right: 0; 
	min-height: 148px;
	display: flex;
	align-items: center;
	color: #e1d1d1;
}

.keo-tu-ngu-1-len-subtitle {
	position: absolute; top: 75px; left: 167px; 
	width: 207px;
	min-height: -1px;
	display: flex;
	align-items: center;
	color: #9d004b;
}
/* end keo-tu-ngu-1-len*/




/* keo-tu-ngu-2-len */

.keo-tu-ngu-2-len {
	position: relative;
	margin-left: 67px; margin-top: 16px;
	width: 515px;
	min-height: 148px;
	flex-shrink: 0;
	text-align: left;
}

.keo-tu-ngu-2-len-subtitle-i-will-you-with {
	position: absolute; top: 0; left: 0; right: 0; 
	min-height: 148px;
	display: flex;
	align-items: center;
	color: #e1d1d1;
}

.keo-tu-ngu-2-len-subtitle {
	position: absolute; top: 70px; left: 128px; 
	width: 207px;
	min-height: 7px;
	display: flex;
	align-items: center;
	color: #9d004b;
}
/* end keo-tu-ngu-2-len*/


.no-hoa-hong-vang {
	margin-top: -3px; margin-bottom: -4px;
	width: 187px;
	flex-shrink: 0;
}

.no-hoa-hong-do-tuoi {
	width: 197px;
	flex-shrink: 0;
	align-self: start;
}

.row2 {
	position: relative;
	margin-top: -3px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	color: #7a284f;
	font-size: 250px;
	background-color: #d5a5c4;
	padding: 3px 24px 0 24px;
}



/* huong-hoa-len-xuong */

.huong-hoa-len-xuong {
	margin-left: 8px;
	width: 62px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex-shrink: 0;
	padding-top: 1px;
	overflow: hidden;
}



/* column */

.column {
	position: relative;
	margin-right: 2px;
	display: flex;
	flex-direction: column;
}

.column-no-hoa-hong1 {
	position: absolute; top: -1px; left: 0; right: -2px; 
	width: calc(100% - 0px - -2px);
	max-width: none;
}

.column-no-hoa-hong2 {
	position: relative; z-index: 1;
	margin: -1px -2px -1px 0;
	max-width: none;
	flex-shrink: 0;
}
/* end column*/

/* end huong-hoa-len-xuong*/




/* huong-hoa-hong-nguoc */

.huong-hoa-hong-nguoc {
	margin-left: 232px;
	width: 62px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	overflow: hidden;
}
/* end huong-hoa-hong-nguoc*/


.canh-hoa-hong17 {
	position: absolute; top: 277px; left: 500px; 
	transform-origin: 50% 50%;
	width: 284px;
}

.canh-hoa-hong18 {
	position: absolute; top: 302px; left: 1426px; 
	transform-origin: 50% 50%;
	width: 220px;
}

.canh-hoa-hong19 {
	position: absolute; top: 834px; left: 1382px; 
	transform-origin: 50% 50%;
	width: 277px;
}

.canh-hoa-hong20 {
	position: absolute; top: 837px; left: 548px; 
	transform-origin: 50% 50%;
	width: 257px;
}

.title-symbol1 {
	position: absolute; z-index: 3; top: 587px; left: 1536px; right: 258px; 
	min-height: 177px;
	display: flex;
	align-items: center;
	text-align: left;
}

.huong-hoa-len-xuong1 .huong-hoa-len-xuong-no-hong-do1 {
	margin-top: 2px;
}

.huong-hoa-len-xuong1 .col2 {
	margin-top: 1px;
}

.huong-hoa-len-xuong1 .huong-hoa-len-xuong-no-hong-do2 {
	margin-top: 2px;
}

.huong-hoa-len-xuong1 .huong-hoa-len-xuong-no-hong-do5 {
	margin-top: 2px;
}

.huong-hoa-len-xuong1 .col3 {
	margin-top: 3px;
}

.huong-hoa-len-xuong1 .huong-hoa-len-xuong-no-hong-do7 {
	margin-top: 2px;
}

.huong-hoa-len-xuong1 .huong-hoa-len-xuong-no-hong-do10 {
	margin-top: 0;
}

.huong-hoa-len-xuong1 .huong-hoa-len-xuong-no-hong-do13 {
	margin-top: 2px;
}

.huong-hoa-len-xuong1 .col4 {
	margin-top: 1px;
}

.huong-hoa-len-xuong1 .col5 {
	margin-top: 3px; margin-bottom: -21px;
}

.title-symbol2 {
	position: relative; z-index: 2;
	margin-left: 157px; margin-top: 464px;
	min-height: 198px;
	display: flex;
	align-items: center;
	text-align: left;
}

.subtitle-chu-thap-sang-len {
	text-shadow: 0px 0px 88.2px #9d004b;
	opacity: 0.01;
	margin-left: -1px; margin-top: 501px;
	width: 1236px;
	min-height: 203px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	color: #c89fa3;
	font-size: 54px;
	text-align: left;
}

.huong-hoa-hong-nguoc1 .huong-hoa-hong-nguoc-no-vang1 {
	margin-top: -2px;
}

.huong-hoa-hong-nguoc1 .huong-hoa-hong-nguoc-no-vang5 {
	margin-top: 0;
}

.huong-hoa-hong-nguoc1 .huong-hoa-hong-nguoc-no-vang14 {
	margin-top: 0;
}

.huong-hoa-hong-nguoc1 .huong-hoa-hong-nguoc-no-vang20 {
	margin-bottom: -31px;
}

.col9 {
	container: col9 / inline-size;
	margin-left: -3px;
	width: 100%;
	max-width: 1919px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-self: center;
	background-color: #c89fa3;
	padding-top: 53px;
	padding-bottom: 108px;
}



/* di-chuyen-hoa-tu-trai */

.di-chuyen-hoa-tu-trai {
	margin-right: -8px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	gap: 17px;
	overflow: hidden;
}

.di-chuyen-hoa-tu-trai-no-hoa-hong-do {
	width: 105px;
	flex-shrink: 0;
}
/* end di-chuyen-hoa-tu-trai*/




/* mo-buc-thu-nho */

.mo-buc-thu-nho {
	position: relative;
	margin: 26px -40px 0 -25px;
	height: 756px;
	flex-shrink: 0;
	background-color: #c89fa3;
}

.mo-buc-thu-nho-no {
	position: absolute; top: 138px; left: 50%; 
	translate: -50% 0;
	width: calc(100% - 32px);
	max-width: 912px;
}
/* end mo-buc-thu-nho*/




/* di-chuyen-hoa-theo-huong */

.di-chuyen-hoa-theo-huong {
	margin-left: 2px; margin-right: -50px;
	display: flex;
	align-items: flex-start;
	gap: 19px;
	overflow: hidden;
}

.di-chuyen-hoa-theo-huong-no-hoa-hong-vang {
	width: 100%;
	min-width: 0; max-width: 170px;
	flex-grow: 1;
}
/* end di-chuyen-hoa-theo-huong*/


.di-chuyen-hoa-tu .di-chuyen-hoa-tu-trai-no-hong-do4 {
	margin-left: 7px;
}

.di-chuyen-hoa-tu .di-chuyen-hoa-tu-trai-no-hong-do5 {
	margin-left: 7px;
}

.di-chuyen-hoa-tu .di-chuyen-hoa-tu-trai-no-hong-do9 {
	margin-left: 7px;
}

.di-chuyen-hoa-tu .di-chuyen-hoa-tu-trai-no-hong-do12 {
	margin-left: 6px;
}

.di-chuyen-hoa-tu .di-chuyen-hoa-tu-trai-no-hong-do13 {
	margin-left: 7px;
}

.di-chuyen-hoa-tu .di-chuyen-hoa-tu-trai-no-hong-do16 {
	margin-right: -42px;
}

.di-chuyen-hoa-theo .di-chuyen-hoa-theo-huong-no-hong-vang1 {
	margin-left: -37px;
}

.group-bottom {
	container: group-bottom / inline-size;
	position: relative;
	margin-top: 2px;
	min-height: 1727px;
	flex-shrink: 0;
	color: #790e41;
	--min-font-size: 26; --max-font-size: 60; font-size: var(--interpolate);
	text-align: left;
	background-color: #a66991;
}



/* canh-cua-tinh-yeu */

.canh-cua-tinh-yeu {
	position: absolute; top: 51px; left: 50%; 
	translate: -50% 0;
	margin-left: 25px;
	width: max-content;
	display: flex;
	align-items: flex-start;
	gap: 36px;
}

.canh-cua-tinh-yeu-img {
	flex-shrink: 0;
}

.canh-cua-tinh-yeu-hoa-hong {
	position: absolute; z-index: 2; top: 661px; left: 450px; 
	width: 264px;
}
/* end canh-cua-tinh-yeu*/


.col10 {
	container: col10 / inline-size;
	position: absolute; top: 51px; left: 50%; 
	translate: -50% 0;
	margin-left: 25px;
	width: calc(100% - 32px);
	max-width: 1164px;
	display: flex;
	flex-direction: column;
	gap: 335px;
	background-color: #cd9ca1;
	padding: 53px 25px 57px 25px;
}



/* row */

.row {
	margin-right: 52px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.row-lap-lanh-gi-do {
	margin: -49px 0;
	width: 286px; height: 300px;
	flex-shrink: 0;
}
/* end row*/


.row-top3 .row-lap-lanh1 {
	margin-left: -49px;
}

.row-top3 .row-lap-lanh2 {
	margin-right: -49px;
}

.subtitle-tho-cuoi-cung-nhap {
	text-shadow: 8px 14px 11.8px rgba(255, 59, 59, 0.25);
	margin-left: 104px; margin-top: 45px;
	width: 100%;
	max-width: 968px;
	min-height: 375px;
	display: flex;
	align-items: center;
	flex-shrink: 0;
	align-self: start;
}

.row-bottom2 .row-lap-lanh1 {
	margin-left: -49px;
}

.row-bottom2 .row-lap-lanh2 {
	margin-right: -49px;
}

.canh-cua-tinh-yeu1 .canh-cua-tinh-yeu-img-left {
	width: 556px;
}

.canh-cua-tinh-yeu1 .canh-cua-tinh-yeu-img-right {
	position: relative; z-index: 1;
	width: 572px;
}



/** breakpoints (margin / paddings) **/

@media screen and (max-width: 1280px) {
	.subtitle-i-shall-forget {
		margin-inline: 0;
	}
	.subtitle-bottom {
		margin-inline: 0;
	}
	.row1 {
		padding-inline: var(--margin-sm);
	}
	.chuyen-dong-gio-cua-canh {
		margin-inline: 0;
	}
	.graphic1 {
		margin-inline: 0;
	}
	.graphic2 {
		margin-inline: 0;
	}
	.col8 {
		padding-inline: var(--margin-md);
	}
	.graphic4 {
		margin-inline: 0;
	}
	.graphic5 {
		margin-inline: 0;
	}
	.keo-tu-ngu-2-len {
		margin-inline: 0;
	}
	.row2 {
		padding-inline: var(--margin-sm);
	}
	.col10 {
		padding-inline: var(--margin-sm);
		margin-inline: 0;
	}
	.row {
		margin-inline: 0;
	}
	.row-top3 .row-lap-lanh1 {
		margin-inline: 0;
	}
	.row-bottom2 .row-lap-lanh1 {
		margin-inline: 0;
	}
}

@media screen and (max-width: 576px) {
	.col8 {
		padding-inline: var(--margin-sm);
	}
}



/* container queries (flex rows) */

@container body (width < 1672px) {
	.row1 {
		flex-direction: column;
		align-items: center;
		gap: 85px;
	}
	.group {
		margin-left: 0; margin-right: 0;
	}
	.col9 {
		margin-left: 0; margin-right: 0;
	}
	.row1 > * {
		margin-left: unset !important; margin-top: unset !important;
	}
	.row1 > .rect {
		width: 100%;
	}
	.row1 > .graphic1 {
		width: 100%;
	}
	.row1 > .graphic2 {
		width: 100%;
	}
	.row1 > .chuyen-dong-gio {
		width: 100%;
		max-width: 418px;
	}
	.row1 .row-bottom1 {
		align-self: center;
	}
	.row1 > .col6 {
		width: 100%;
		max-width: 1166px;
		align-items: center;
	}
}

@container col6 (width < 415px) {
	.row-bottom1 {
		margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	.row-bottom1 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
	}
}

@container col7 (width < 1313px) {
	.row-top1 {
		flex-direction: column;
		align-items: center;
		gap: 16px;
	}
	.row-top1 > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
	}
}

@container col8 (width < 1555px) {
	.row-top2 {
		flex-direction: column;
		align-items: center;
		gap: 22px;
	}
	.row-top2 > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.row-top2 > .keo-tu-ngu-1-len1 {
		width: 100%;
		max-width: 581px;
	}
	.row-top2 > .keo-tu-ngu-2-len1 {
		width: 100%;
		max-width: 515px;
	}
}

@container body (width < 1908px) {
	.row2 {
		flex-direction: column;
		align-items: center;
		gap: 100px;
		padding: 24px;
	}
	.row2 > * {
		margin-left: unset !important; margin-top: unset !important;
		text-align: center;
	}
	.row2 > .title-symbol1 {
		width: 100%;
	}
	.row2 > .subtitle-chu-thap-sang-len {
		width: 100%;
		max-width: 1236px;
	}
}

@container col9 (width < 1911px) {
	.di-chuyen-hoa-tu-trai {
		margin-left: 0; margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 17px;
	}
	.col9 > * {
		margin-left: 0; margin-right: 0;
	}
	.di-chuyen-hoa-tu-trai > * {
		margin-left: unset !important; margin-right: unset !important;
	}
}

@container col9 (width < 1397px) {
	.di-chuyen-hoa-theo-huong {
		margin-left: 0; margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 17px;
	}
	.di-chuyen-hoa-theo-huong > * {
		margin-left: unset !important;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang1 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang2 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang3 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang4 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang5 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang6 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang7 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang8 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang9 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang10 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang11 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang12 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang13 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang14 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang15 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang16 {
		width: 100%;
	}
	.di-chuyen-hoa-theo-huong > .di-chuyen-hoa-theo-huong-no-hong-vang17 {
		width: 100%;
	}
}

@container group-bottom (width < 1213px) {
	.canh-cua-tinh-yeu {
		margin-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 100px;
	}
	.canh-cua-tinh-yeu > .canh-cua-tinh-yeu-img-left {
		width: 100%;
		max-width: 556px;
	}
	.canh-cua-tinh-yeu > .canh-cua-tinh-yeu-img-right {
		width: 100%;
		max-width: 572px;
	}
}

@container col10 (width < 721px) {
	.row {
		margin-left: 0; margin-right: 0;
		flex-direction: column;
		align-items: center;
		gap: 37px;
	}
	.col10 > * {
		margin-left: 0; margin-right: 0;
	}
	.row > * {
		margin-left: unset !important; margin-right: unset !important; margin-top: unset !important;
	}
	.row > .row-lap-lanh1 {
		width: 100%;
		max-width: 286px;
	}
}
